
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Hello World</h1>


  </body>
</html>


# that contains an h1 tag with the content Hello World. 
# This should get rendered via a GET /hello route by your App controller in app.rb.